body {
  background-color: #a3c1b4;
  display: flex;
  justify-content: center;
}

.done {
  background-color: #7a8b65;
}

.style-list {
  text-align: center;
}

.style-list div {
  border: solid 2px #424f35;
  font-size: 20px;
  border-radius: 8px;
  margin-top: 5px;
}
